<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.ijoic.ktx">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- main -->
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- auto size -->
    <activity
      android:name=".autosize.AutoSizeActivity"
      android:label="@string/test_case_auto_size"/>

    <activity
      android:name=".autosize.ui.mode.AutoSizeNoneActivity"
      android:label="@string/action_mode_none"/>

    <activity
      android:name=".autosize.ui.mode.AutoSizeWrapActivity"
      android:label="@string/action_mode_wrap"/>

    <activity
      android:name=".autosize.ui.mode.AutoSizeResetActivity"
      android:label="@string/action_mode_reset"/>
  </application>

</manifest>